body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.hero-link, .hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.hero-button {
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    padding: .5em 1.5em;
    border-radius: 8px;    
    border: none;
}

.head-nav {
    display: flex;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.hero-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 150px 0px;
    justify-content: space-between;
}

.hero-image {
    height: 400px;
    width: auto;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.information {
    display: flex;
    flex-direction: column;
}